//Copyright (C)2014-2025 Gowin Semiconductor Corporation.
//All rights reserved. 
//File Title: Physical Constraints file
//Tool Version: V1.9.11.02 (64-bit)
//Part Number: GW2AR-LV18QN88C8/I7
//Device: GW2AR-18
//Device Version: C
//Created Time: Mon 05 25 07:24:39 2026

IO_LOC "clk27m" 4;
IO_PORT "clk27m" IO_TYPE=SSTL33_II PULL_MODE=NONE BANK_VCCIO=3.3;

IO_LOC "lcd_b[4]" 27;
IO_PORT "lcd_b[4]" IO_TYPE=SSTL33_II DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "lcd_b[3]" 28;
IO_PORT "lcd_b[3]" IO_TYPE=SSTL33_II DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "lcd_b[2]" 29;
IO_PORT "lcd_b[2]" IO_TYPE=SSTL33_II DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "lcd_b[1]" 30;
IO_PORT "lcd_b[1]" IO_TYPE=SSTL33_II DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "lcd_b[0]" 31;
IO_PORT "lcd_b[0]" IO_TYPE=SSTL33_II DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "lcd_g[5]" 32;
IO_PORT "lcd_g[5]" IO_TYPE=SSTL33_II DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "lcd_g[4]" 33;
IO_PORT "lcd_g[4]" IO_TYPE=SSTL33_II DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "lcd_g[3]" 34;
IO_PORT "lcd_g[3]" IO_TYPE=SSTL33_II DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "lcd_g[2]" 35;
IO_PORT "lcd_g[2]" IO_TYPE=SSTL33_II DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "lcd_g[1]" 36;
IO_PORT "lcd_g[1]" IO_TYPE=SSTL33_II DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "lcd_g[0]" 37;
IO_PORT "lcd_g[0]" IO_TYPE=SSTL33_II DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "lcd_r[4]" 38;
IO_PORT "lcd_r[4]" IO_TYPE=SSTL33_II DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "lcd_r[3]" 39;
IO_PORT "lcd_r[3]" IO_TYPE=SSTL33_II DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "lcd_r[2]" 40;
IO_PORT "lcd_r[2]" IO_TYPE=SSTL33_II DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "lcd_r[1]" 41;
IO_PORT "lcd_r[1]" IO_TYPE=SSTL33_II DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "lcd_r[0]" 42;
IO_PORT "lcd_r[0]" IO_TYPE=SSTL33_II DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "lcd_de" 48;
IO_PORT "lcd_de" IO_TYPE=SSTL33_II DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "lcd_vs" 26;
IO_PORT "lcd_vs" IO_TYPE=SSTL33_II DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "lcd_hs" 25;
IO_PORT "lcd_hs" IO_TYPE=SSTL33_II DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "lcd_ck" 77;
IO_PORT "lcd_ck" IO_TYPE=SSTL33_II DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "lcd_bl" 49;
IO_PORT "lcd_bl" IO_TYPE=SSTL33_II DRIVE=8 BANK_VCCIO=3.3;

IO_LOC "led[7]" 72;
IO_PORT "led[7]" IO_TYPE=SSTL33_II PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "led[6]" 71;
IO_PORT "led[6]" IO_TYPE=SSTL33_II PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "led[5]" 20;
IO_PORT "led[5]" IO_TYPE=SSTL33_II PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "led[4]" 19;
IO_PORT "led[4]" IO_TYPE=SSTL33_II PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "led[3]" 18;
IO_PORT "led[3]" IO_TYPE=SSTL33_II PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "led[2]" 17;
IO_PORT "led[2]" IO_TYPE=SSTL33_II PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "led[1]" 16;
IO_PORT "led[1]" IO_TYPE=SSTL33_II PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "led[0]" 15;
IO_PORT "led[0]" IO_TYPE=SSTL33_II PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;

IO_LOC "fpga_spi_cs_n" 73;
IO_PORT "fpga_spi_cs_n" IO_TYPE=SSTL33_II PULL_MODE=UP BANK_VCCIO=3.3;
IO_LOC "fpga_spi_sck" 74;
IO_PORT "fpga_spi_sck" IO_TYPE=SSTL33_II PULL_MODE=UP BANK_VCCIO=3.3;
IO_LOC "fpga_spi_mosi" 75;
IO_PORT "fpga_spi_mosi" IO_TYPE=SSTL33_II PULL_MODE=UP BANK_VCCIO=3.3;
IO_LOC "fpga_spi_miso" 85;
IO_PORT "fpga_spi_miso" IO_TYPE=SSTL33_II PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "fpga_spi_intr" 80;
IO_PORT "fpga_spi_intr" IO_TYPE=SSTL33_II PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;

IO_LOC "i2s_en" 51;
IO_PORT "i2s_en" IO_TYPE=SSTL33_II DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "i2s_bclk" 56;
IO_PORT "i2s_bclk" IO_TYPE=SSTL33_II DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "i2s_dout" 54;
IO_PORT "i2s_dout" IO_TYPE=SSTL33_II DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "i2s_lrck" 55;
IO_PORT "i2s_lrck" IO_TYPE=SSTL33_II DRIVE=8 BANK_VCCIO=3.3;

IO_LOC "ws2812" 79;
IO_PORT "ws2812" IO_TYPE=SSTL33_II PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;

IO_LOC "button[1]" 87;
IO_PORT "button[1]" IO_TYPE=SSTL33_II PULL_MODE=DOWN BANK_VCCIO=3.3;
IO_LOC "button[0]" 88;
IO_PORT "button[0]" IO_TYPE=SSTL33_II PULL_MODE=DOWN BANK_VCCIO=3.3;
